<div id="tab-atributos" class="tab active">
    <!-- Atributos -->
    <h2>Atributos</h2>
    <div class="attributes-grid">
        <div class="attribute">
            <label>Corpus:</label>
            <div>
                <input type="number" name="corpus" data-attribute="corpus" value="{{actor.system.atributos.corpus}}" />
                <button type="button" class="roll-dice" data-attribute="corpus">
                    🎲
                </button>
            </div>
        </div>
        <div class="attribute">
            <label>Mens:</label>
            <div>
                <input type="number" name="mens" data-attribute="mens" value="{{actor.system.atributos.mens}}" />
                <button type="button" class="roll-dice" data-attribute="mens">
                    🎲
                </button>
            </div>
        </div>
        <div class="attribute">
            <label>Anima:</label>
            <div>
                <input type="number" name="anima" data-attribute="anima" value="{{actor.system.atributos.anima}}" />
                <button type="button" class="roll-dice" data-attribute="anima">
                    🎲
                </button>
            </div>
        </div>
        <div class="attribute">
            <label>Tempus:</label>
            <div>
                <input type="number" name="tempus" data-attribute="tempus" value="{{actor.system.atributos.tempus}}" />
                <button type="button" class="roll-dice" data-attribute="tempus">
                    🎲
                </button>
            </div>
        </div>
        <div class="attribute">
            <label>Umbra:</label>
            <div>
                <input type="number" name="umbra" data-attribute="umbra" value="{{actor.system.atributos.umbra}}" />
                <button type="button" class="roll-dice" data-attribute="umbra">
                    🎲
                </button>
            </div>
        </div>
    </div>

    <!-- ECO -->
    <h2>Eco</h2>
    <div class="eco-roll">
        <button type="button" class="roll-eco">🌟 Rolar ECO</button>
    </div>
</div>