<div class="chat-card">
  <div class="dark">
    <header class="card-header">
      <h3 class="attribute-title">

        <span class="attribute-name">{{titulo}}</span>
      </h3>
    </header>

    <div class="card-dices">
      {{#if dado1}}
      <div class="dices">{{dado1}}</div>
      {{/if}}
      {{#if dado2}}
      <div class="plus">+</div>
      <div class="dices">{{dado2}}</div>

      {{/if}}
    </div>
    <div class="card-content">
      <p style="font-size: 15px;text-align: center;">{{{descricao}}}</p>
    </div>
    {{#if rolagem}}
    <div class="roll-result">
      <div class="title">
        Total
      </div>
      <div class="roll">
        {{rolagem.total}}
      </div>
    </div>
    <div class="roll-desc">
      {{resultadoRolagem rolagem.total}}
    </div>
    {{/if}}
  </div>
</div>